DATABASE_URL=
PORT=

FRONTEND_URL=

JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=6048000
JWT_REFRESH_TOKEN_TTL_ADMIN=86400

API_KEY=

SUPERADMIN_NAME=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=